<div class="row">
	<div class="col-lg-4">
		<h1>Profile</h1>
		<div class="avatar-holder">
			<%= image_tag(@user.avatar, {class:"avatar-round"})%>
		</div>
		<div class="intro-holder">
			<h3><% @user.name if @user.name%></h3>
			<p>Email: <%= @user.email%></p>
			<div>Intro: <%= @user.intro%></div>			
		</div>
		<h1>Follows</h1>
	</div>
	<div class="col-lg-8">
		<h2>Commented</h2>
		<div class="row">
			<% @comments.each do |c| %>
			<div class="col-lg-2 text-center mb-4">
				<%= link_to image_tag(c.restaurant.image, {alt: "image-not-found", onerror:"this.src='/image-not-found.jpg';", class:"rounded-circle img-fluid d-block mx-auto"}), restaurant_path(c.restaurant), {} %>
				<h3><small><%= c.restaurant.name %></small></h3>
			</div>
			<%end%> 
		</div>
		<h2>Favorite</h2>
		<div class="row">
			<% @user.restaurants.each do |r| %>
			<div class="col-lg-2 text-center mb-4">
				<%= link_to image_tag(r.image, {alt: "image-not-found", onerror:"this.src='/image-not-found.jpg';", class:"rounded-circle img-fluid d-block mx-auto"}), restaurant_path(r), {} %>
				<h3><small><%= r.name %></small></h3>
			</div>
			<%end%> 
		</div>
	</div>
</div>
<div style="padding-top:50px;display:block;"></div>