<h1>Profile</h1>
<p><%= @user.email%>,with id: <%=@user.id%></p>

<h2>Commented</h2>
<div class="row">
	<% @comments.each do |c| %>
	<div class="col-lg-2 text-center mb-4">
		<%= link_to image_tag(c.restaurant.image, {alt: "image-not-found", onerror:"this.src='/image-not-found.jpg';", class:"rounded-circle img-fluid d-block mx-auto"}), restaurant_path(c.restaurant), {} %>
		<h3><small><%= c.restaurant.name %></small></h3>
	</div>
	<%end%> 
</div>
<h2>Favorite</h2>
<div class="row">
	<% @user.restaurants.each do |r| %>
	<div class="col-lg-2 text-center mb-4">
		<%= link_to image_tag(r.image, {alt: "image-not-found", onerror:"this.src='/image-not-found.jpg';", class:"rounded-circle img-fluid d-block mx-auto"}), restaurant_path(r), {} %>
		<h3><small><%= r.name %></small></h3>
	</div>
	<%end%> 
</div>
