<h1>Profile</h1>
<div class="row">
	<div class="col-md-4">
		<div class="avatar-width paddint-top-10">
			<div class="avatar-height">
				<div class="avatar-position">
					<%= image_tag(@user.avatar, {class:"avatar-fit"})%>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="intro-holder">
			<h3><%= @user.name if @user.name%></h3>
			<p>Intro: <%= @user.intro%></p>
			<%if not @user==current_user %>
				<%if current_user.followings.exists?(:id => @user.id) %>
					<%= link_to "取消追蹤！", followship_path(@user), {method: :delete, class:"btn btn-secondary btn-xl"} %>
        <%else%>
        	<%= link_to "追蹤達人！", followships_path(following_id: @user), {method: :post, class:"btn btn-secondary btn-xl"} %>
        <%end%>
      <% else %>
        <%= link_to "編輯", edit_user_registration_path, {method: :get, class:"btn btn-secondary btn-xl"} %>
      <%end%>
		</div>
	</div>

  <div class="col-lg-12" style="height: 50px;"></div>
	<div class="col-md-6">
		<h3>Followers</h3>
		<div class="row">
			<% @followers.each do |c| %>
			<div class="col-2 mb-4">
				<div class="profile-pic-height">
					<%= link_to image_tag(c.avatar, {alt: "image-not-found", onerror:"this.src='/image-not-found.jpg';", class:"profile-pic-fit img-fluid d-block mx-auto"}), user_path(c), {class:"profile-pic-position"} %>
				</div>
				<%= link_to c.name, user_path(c), {style:"font-size:20px;"}%>
			</div>
			<%end%> 
		</div>
	</div>
	<div class="col-md-6">
		<h3>Followings</h3>
		<div class="row">
			<% @followings.each do |c| %>
			<div class="col-2 mb-4">
				<div class="profile-pic-height">
					<%= link_to image_tag(c.avatar, {alt: "image-not-found", onerror:"this.src='/image-not-found.jpg';", class:"profile-pic-fit img-fluid d-block mx-auto"}), user_path(c), {class:"profile-pic-position"} %>
				</div>
				<%= link_to c.name, user_path(c), {style:"font-size:20px;"}%>
			</div>
			<%end%> 
		</div>
	</div>

	<div class="col-lg-12" style="height: 50px;"></div>
	<div class="col-md-6">
		<h3>Commented</h3>
		<div class="row">
			<% @commented_r.each do |c| %>
			<div class="col-2 mb-4">
				<div class="profile-pic-height">
					<%= link_to image_tag(c.image, {alt: "image-not-found", onerror:"this.src='/image-not-found.jpg';", class:"profile-pic-fit img-fluid d-block mx-auto"}), restaurant_path(c), {class:"profile-pic-position"} %>
				</div>
				<%= link_to c.name, restaurant_path(c), {style:"font-size:20px;"}%>
			</div>
			<%end%> 
		</div>
	</div>
	<div class="col-md-6">
		<h3>Favorite</h3>
		<div class="row">
			<% @user.restaurants.each do |r| %>
			<div class="col-2 mb-4">
				<div class="profile-pic-height">
					<%= link_to image_tag(r.image, {alt: "image-not-found", onerror:"this.src='/image-not-found.jpg';", class:"profile-pic-fit img-fluid d-block mx-auto"}), restaurant_path(r), {class:"profile-pic-position"} %>
				</div>
				<%= link_to r.name, restaurant_path(r), {style:"font-size:20px;"}%>
			</div>
			<%end%> 
		</div>
	</div>
</div>
<div style="padding-top:50px;display:block;"></div>