<h1>admin後台</h1>

<%= link_to '新增',new_admin_restaurant_path %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Category</th>
      <th>Name</th>
      <th>Function</th>
    </tr>
  </thead>
  <tbody>
    <% @all_restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.id %></td>
      <td>[<%= restaurant.category.name %>]</td>
      <td><%= restaurant.name %></td>
      <td>
        <%= link_to 'Show', admin_restaurant_path(restaurant) %>
        <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %>
        <%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?"} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @all_restaurants %>