  <div class="tab-bar">
    <ul class="nav nav-tabs nav-tabs-main">
      <li class="nav-item">
        <%= link_to "所有餐廳", restaurants_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "餐廳分類", category_path(@categories.first), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "最新動態", feeds_restaurants_path, class: "active nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "美食達人", experts_restaurants_path, class: "nav-link" %>
      </li>
    </ul>
  </div>

<div class="row">
  <div class="col-lg-4 col-sm-10">
    <h3>最新餐廳</h3>
    <% @recent_restaurants.each do |restaurant| %>
      <div class="feeds-block">
        <div class="row">
          <div class="col-lg-6 col-sm-10">
            <div class="feeds-pic-height">
              <%= link_to image_tag(restaurant.image, {alt: "image-not-found", onerror:"this.src='/image-not-found.jpg';", class:"feeds-pic-fit img-fluid mb-3 mb-lg-0 rounded"}), restaurant_path(restaurant), {class:"feeds-pic-position"} %>
            </div>
          </div>
          <div class="col-lg-6 col-sm-10">
            <div class="feeds-name">
                <p><%= restaurant.name %></p>
                <%if current_user.restaurants.exists?(:id => restaurant.id)%>
                <%= link_to "取消最愛", restaurant_favorite_path(restaurant, Favorite.where(:user_id=>current_user.id,:restaurant_id => restaurant.id)), {method: :delete, class:"btn btn-secondary btn-sm"} %>
                <%else%>
                <%= link_to "加入最愛", restaurant_favorites_path(restaurant), {method: :post, class:"btn btn-info btn-sm"} %>
                <%end%>
                <%if restaurant.liked_users.include?(current_user) %>
                <%= link_to "取消追蹤", unlike_restaurant_path(restaurant), {method: :post, class:"btn btn-secondary btn-sm"} %>
                <%else %>
                <%= link_to "追蹤", like_restaurant_path(restaurant), {method: :post, class:"btn btn-info btn-sm"} %>
                <%end%>
            </div>
          </div>
        </div>
        <div class="feeds-intro">
          <p><%= restaurant.description %></p>
        </div>
      </div>
    <% end %> 
  </div>

  <div class="col-lg-4 col-sm-10">
    <h3>熱門餐廳</h3>
    <% @ranks.each do |restaurant| %>
      <div class="feeds-block">
        <div class="row">
          <div class="col-lg-6 col-sm-10">
            <div class="feeds-pic-height">
              <%= link_to image_tag(restaurant.image, {alt: "image-not-found", onerror:"this.src='/image-not-found.jpg';", class:"feeds-pic-fit img-fluid mb-3 mb-lg-0 rounded"}), restaurant_path(restaurant), {class:"feeds-pic-position"} %>
            </div>
          </div>
          <div class="col-lg-6 col-sm-10">
            <div class="feeds-name">
                <p><%= restaurant.name %></p>
                <%if current_user.restaurants.exists?(:id => restaurant.id)%>
                <%= link_to "取消最愛", restaurant_favorite_path(restaurant, Favorite.where(:user_id=>current_user.id,:restaurant_id => restaurant.id)), {method: :delete, class:"btn btn-secondary btn-sm"} %>
                <%else%>
                <%= link_to "加入最愛", restaurant_favorites_path(restaurant), {method: :post, class:"btn btn-info btn-sm"} %>
                <%end%>
                <%if restaurant.liked_users.include?(current_user) %>
                <%= link_to "取消追蹤", unlike_restaurant_path(restaurant), {method: :post, class:"btn btn-secondary btn-sm"} %>
                <%else %>
                <%= link_to "追蹤", like_restaurant_path(restaurant), {method: :post, class:"btn btn-info btn-sm"} %>
                <%end%>
            </div>
          </div>
        </div>
        <div class="feeds-intro">
          <p>粉絲人數：<%= restaurant.rank %></p>
        </div>
      </div>
    <% end %> 
  </div>

  <div class="col-lg-4 col-sm-10">
    <h3>最新評論</h3>
    <% @recent_comments.each do |comment| %>
    <div class="feeds-block">
    <h4><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant) %></h4>
    <p><%= comment.content %></p>
    <p>by <%= link_to comment.user.name, user_path(comment.user) %></p>
    </div>
    <% end %>
  </div>

</div>