<section class="page-section clearfix">
    <div class="intro">
      <%= image_tag(@restaurant.image, {alt: "image-not-found", onerror:"this.src='/image-not-found.jpg';", class:"intro-img img-fluid mb-3 mb-lg-0 rounded"}) %>
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-lower"><%= @restaurant.name %></span>
        </h2>
        <p class="mb-3"><%= @restaurant.description %></p>
        <div class="intro-button mx-auto">
          <%if @favorite_check==:False %>
          <%= link_to "加入最愛！", restaurant_favorites_path(@restaurant), {method: :post, class:"btn btn-primary btn-xl"} %>
          <%else %>
          <%= link_to "取消最愛！", restaurant_favorite_path(@restaurant, @favorite), {method: :delete, class:"btn btn-primary btn-xl"} %>
          <%end%>
        </div>
      </div>
    </div>
</section>

<section class="page-section cta margin-4" id="detail">
    <div class="row ">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Details</span>
          </h2>
          <p class="mb-0">Tel:<%= @restaurant.tel %></p>
          <p class="mb-0">Address:<%= @restaurant.address %></p>
          <p class="mb-0">Opening hours:<%= @restaurant.opening_hours %></p>
        </div>
      </div>
    </div>
</section>

<div class="container">
  <div class="comments-outter">
    <div class="comments-outter-tittle">
      <i class="fa fa-comments fa-2x" aria-hidden="true">  Comments</i>
    </div>
    <% @restaurant.comments.each do |c| %>
    <div class="comment-box">
      <div class="comment-tittle">
        <p>Comment from: <%= c.user.email %> (<%=time_ago_in_words c.updated_at %>) </p>
        <% if current_user.admin? %>
        <%= link_to "Delete", restaurant_comment_path(@restaurant, c), {method: :delete, class:"btn"} %>
        <% end %>
      </div>
      <div class="comment-text">
        <%= c.content %>
      </div>
    </div>
    <% end %>
    <%= form_for [@restaurant,@comment] do |f| %>
    <div class="form-group comment-form">
      <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
    <% end %>
  </div>
</div>