	<div class="tab-bar">
		<ul class="nav nav-tabs nav-tabs-main">
  		<li class="nav-item">
  			<%= link_to "所有餐廳", restaurants_path, class: "#{cp(restaurants_path)} nav-link" %>
  		</li>
  		<li class="nav-item">
  			<%= link_to "餐廳分類", category_path(@categories.first), class: "active nav-link" %>
  		</li>
  		<li class="nav-item">
  			<a class="nav-link" href="#">Feeds</a>
  		</li>
		</ul>
	</div>
	<div class="tab-bar">
		<ul class="nav nav-tabs nav-tabs-scd">
			<% @categories.each do |c| %>
  		<li class="nav-item">
  			<%= link_to c.name, category_path(c), class: "#{cp(category_path(c))} nav-link"%>
  		</li>
  		<%end%>
		</ul>
	</div>
	<%= render partial: "shared/restaurants" %>
	<div class="text-center margin-10-10">
		<%= paginate @restaurants, theme: 'twitter-bootstrap-4' %>
	</div>
	<div style="height:1px;"></div>
