<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <title>RProject</title>
    <meta http-equiv="Content-Language" content="zh-Hant-TW">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- NAV: https://startbootstrap.com/template-overviews/landing-page/ (bootstrap4 version) -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <%= link_to('Best Restaurant', root_path, {class: "navbar-brand"}) %>
        <div class="navbar-right">
        <% if current_user %>
            <a heref="#">Hi, <%= current_user.email%></a>
            <%= link_to('登出', destroy_user_session_path, {method: :delete, class: "btn btn-primary"}) %>
            <%= link_to('修改密碼', edit_user_registration_path, {class: "btn btn-primary"}) %>
        <% else %>
            <%= link_to('註冊', new_user_registration_path, {class: "btn btn-primary"}) %>
            <%= link_to('登入', new_user_session_path, {class: "btn btn-primary"}) %>
        <% end %>
        <% if current_user && current_user.role == "admin"%>
            <%= link_to '後台', admin_restaurants_path, {class: "btn btn-primary"} %>
        <% end %>
        </div>
      </div>
    </nav>


    <% if flash[:notice] %>
    <div class="container">
        <div class="row">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= notice %>
            </div>
        </div>
    </div>
    <% end %>
  
    <% if flash[:alert] %>
    <div class="container">
        <div class="row">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= alert %>
            </div>
        </div>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
